.si-tooltip {
  display: block;
  font-size: .9em;
  padding: .4rem .7rem;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
}

.si-tooltip.si-tl-uniform {
  padding: .7rem;
}

.si-tooltip-inner {
  overflow: auto;
  overscroll-behavior: contain;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: none;
    border: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .6);
    border-radius: 6px;
  }
}

.si-tooltip, .si-tooltip-inner {
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.si-tl-arrow {
  position: absolute;
  width: 9px;
  height: 9px;
  transform: rotate(135deg);
  background-color: rgba(0, 0, 0, .1);

  &::after {
    background-color: #393939;
    content: '';
    display: block;
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: .15em;
  }
}

.si-top .si-tl-arrow {
  top: 100%;
  left: 50%;
  margin: -4px 0 0 -5px;
  background: linear-gradient(to bottom left, rgba(0, 0, 0, .1) 50%, transparent 50%);
}

.si-top-start .si-tl-arrow {
  left: 15%;
}

.si-top-end .si-tl-arrow {
  left: 85%;
}

.si-top .si-tl-arrow::after {
  top: 1px;
  right: 1px;
}

.si-bottom .si-tl-arrow {
  bottom: 100%;
  left: 50%;
  margin: 0 0 -4px -5px;
  background: linear-gradient(to top right, rgba(0, 0, 0, .1) 50%, transparent 50%);
}

.si-bottom-start .si-tl-arrow {
  left: 15%;
}

.si-bottom-end .si-tl-arrow {
  left: 85%;
}

.si-bottom .si-tl-arrow::after {
  top: -1px;
  right: -1px;
}

.si-left .si-tl-arrow {
  left: 100%;
  top: 50%;
  margin: -5px 0 0 -4px;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, .1) 50%, transparent 50%);
}

.si-left .si-tl-arrow::after {
  top: 1px;
  right: -1px;
}

.si-right .si-tl-arrow {
  right: 100%;
  top: 50%;
  margin: -5px -4px 0 0;
  background: linear-gradient(to top left, rgba(0, 0, 0, .1) 50%, transparent 50%);
}

.si-right .si-tl-arrow::after {
  top: -1px;
  right: 1px;
}

// default theme
.si-tooltip:not(.si-tl-light) {
  background-color: #393939;
  color: #fff;

  & * {
    color: #fff !important;
  }
}

// light theme
.si-tl-light {
  border: 1px solid rgba(0, 0, 0, .06);
  background-color: #fff;
  color: #111;

  & * {
    color: #111 !important;
  }

  .si-tl-arrow::after {
    background-color: #fff;
  }
}
